{% extends 'base.html' %}
{% block title %}shop{% endblock %}
{% block body %}

<style type="text/css">
    #centerLayer {
     margin-left: 25%;
     width: 50%;
     padding: 10px;
    }
   </style>



{% for index in range(len) %}
<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" id="centerLayer">
    <div class="col p-4 d-flex flex-column position-static">
      <strong class="d-inline-block mb-2 text-primary-emphasis">Sneakers</strong>
      <h3 class="mb-0">{{list_sneacers[index][0][:-4]}}</h3>
      <div class="mb-1 text-body-secondary">{{list_sneacers[index][1]}}</div>
      <p class="card-text mb-auto">{{list_sneacers[index][2]}}</p>
      <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
        Continue reading
        <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
      </a>
    </div>
    <div class="col-auto d-none d-lg-block">
        <img width="250" height="250" src="{{ url_for('static', filename=list_sneacers[index][0]) }}"/>
    </div>
  </div>
{% endfor %}

{% endblock %}







<!--
<div class="col p-4 d-flex flex-column position-static">
    <strong class="d-inline-block mb-2 text-primary-emphasis">World</strong>
    <h3 class="mb-0">Featured post</h3>
    <div class="mb-1 text-body-secondary">Nov 12</div>
    <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
      Continue reading
      <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
    </a>
  </div>
  <div class="col-auto d-none d-lg-block">
    <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
  </div>
-->
